Snake/WindowsUI/Connected Services/SnakeServiceReference/SnakeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SnakeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelTier" />
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="interval" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSnake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelTier" minOccurs="0" name="snake" nillable="true" type="q1:Snake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelTier" minOccurs="0" name="board" nillable="true" type="q2:Board" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>